extends layout

block content
	h1= title
	p wattchr test

	p Select A Gateway
	#selectionDropdown
		select

	input(type = "button", value = "submit", id = "selectionButton")

	h2 Gateways
	#gatewayList
		table
			thead
				th gid
				th timestamp
				th watts
			tbody
