extends layout

block content
	h1= title

	#wrapper

		#dropdownSelect
			p Select A Gateway
			#selectionDropdown
				select(id = "selectors")

			input(type = "button", value = "submit", id = "selectionButton")

		#gatewayList
			table
				thead
					th gid
					th timestamp
					th watts
				tbody
